@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:  #39297b;
    color: white;
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form{
    background: #434989;
    display: flex;
    max-width: 600px;
    margin: auto;
    align-items: center;
    width: 90%;
    height: 80px;
    border-radius: 8px;
}
 
form input{
    flex: 1;
    height: 100%;
    background: transparent;
    color: white;
    font-size: 18px;
    outline: 0;
    border: 0;
    padding: 0 30px;
}

form button{
    height: 100%;
    padding: 0 40px;
    background: #ff3929;
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: white;
    font-size: 18px;
}

#show-more-btn{
    background: #ff3929;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

/* #search-result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 80%;
    margin: 100px auto 50px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
} */

#search-result{
    column-count: 4;
    column-gap: 15px;
    width: 80%;
    margin: 100px auto 50px;
}

#search-result img{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#search-result img.loaded {
  opacity: 1;
}

#search-result a {
  display: block;
  break-inside: avoid; 
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #a5730f;
  color: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

#scrollTopBtn:hover {
  transform: translateX(-50%) scale(1.1);
}

